body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #f7f7f7;
  text-decoration: none;
}

nav {
  opacity: 0.9;
}

.lote1{
  background-image: url("../images/part11.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  padding: 40% 20px;
  color: white;
  max-width: 100%;
  width: 100%;
  
}
.lote2{
  background-image: url("../images/part21.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  padding: 40% 20px;
  color: white;
  max-width: 100%;
  width: 100%;
  
}
.temporada{
  background-image: url("../images/temporada.jpg");
  background-size: 100% ;
  background-repeat: no-repeat;
  color: white;
  padding: 15%
}
.topbar{
  height: 80px;
}
.iconos{
  text-align: center;
}
.ico{
  display: inline-block;
}
.derechos{
  text-align: center;
}
.items{
  display: inline-block;
}
.foot{
  margin: 1vw 0;
}
.carousel{
	max-width: 100%;
}
img{
	width: 100%
}
.middle{
	max-height: 80%
}

.modalimage{
	padding-top: 5%;
}
.menu-item{
  cursor: pointer;
}